{% extends "includes/layout.twig" %}

{% block content %}
    <div class="Content">
        <p class="ms-font-xxl">Welcome to DreamSpark SSO</p>
        <p>In the tabs above, you can configure the application. Please see the <a href="https://go.thenetw.org/dreamsparksso-kb">knowledge base</a> for more information about setting this application up.</p>
        <p>In case you need help and can't find the answer in the Questions and Answers section of the <a href="https://go.thenetw.org/dreamsparksso-kb">knowledge base</a>, don't hesitate to <a href="mailto:dreamspark@edulog.in">contact us</a>.</p>
    </div>
{% endblock %}