<div class="ms-NavBar">
    <div class="ms-NavBar-openMenu js-openMenu">
        <i class="ms-Icon ms-Icon--menu"></i>
    </div>
    <ul class="ms-NavBar-items">
        <li class="ms-NavBar-item"><a class="ms-NavBar-link" href="/SSOPassThrough">Continue to DreamSpark</a></li>
        <li class="ms-NavBar-item"><a class="ms-NavBar-link" href="/settings">Home</a></li>
        <li class="ms-NavBar-item"><a class="ms-NavBar-link" href="/settings/webstore">Webstore</a></li>
        <li class="ms-NavBar-item"><a class="ms-NavBar-link" href="/settings/permissions">Permissions</a></li>
        <li class="ms-NavBar-item"><a class="ms-NavBar-link" href="/settings/organization">Organization</a></li>
        <li class="ms-NavBar-item ms-NavBar-item--right"><a class="ms-NavBar-link" href="https://go.thenetw.org/dreamsparksso" target="_blank"><i class="ms-Icon ms-Icon--question"></i>Help</a></li>
    </ul>
</div>
<script>
    $(document).ready(function() {
        $('.ms-NavBar').NavBar();
    });
</script>