<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Force HTTPS" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false"/>
                    <conditions>
                        <add input="{HTTPS}" pattern="off"/>
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
                </rule>
				<rule name="Rewriter Script" stopProcessing="true">
                    <match url=".*" ignoreCase="false"/>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="app.php"/>
                </rule>
            </rules>
        </rewrite>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules>
        </modules>
    </system.webServer>
    <system.web>
        <httpModules>
        </httpModules>
    </system.web>
</configuration>
